// == translate ==
.translate-enter-active {
  transition: all 0.5s;
}
.translate-leave-active {
  transition: all 0.5s;
}
.translate-enter, .translate-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

// == translate2 ==
.translate2-enter-active {
  transition: all 0.5s;
}
.translate2-leave-active {
  transition: all 0.5s;
}
.translate2-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.translate2-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

// == slide ==
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}

// == scale ==
.scale-enter-active {
  transition: all .3s ease;
}
.scale-leave-active {
  transition: all .3s ease;
}
.scale-enter, .scale-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: scale(0.6);
  opacity: 0;
}

// == table ==
.table-enter-active, .table-leave-active {
transition: all 1s;
}
.table-enter, .table-leave-to{
opacity: 0;
transform: translateY(-30px);
}
.table-move {
  opacity: 0;
}


// == bounce ==
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appeare {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

// == list ==
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

// == slide-top ==
.slide-top-enter-active {
  transition: all .3s ease;
}
.slide-top-leave-active {
  transition: all .3s ease;
}
.slide-top-enter, .slide-top-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-50%);
  opacity: 0;
}