@import './variables.scss';
@import './animations';
@import './colors';
@import './table';
@import './form';
@import './toastification';
@import './tooltip';
@import './scrollbar';
@import './margin';
@import './flex';
@import './btn';

* {
  box-sizing: border-box;
}

body {
  min-width: 350px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;

  &_btn {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 1px solid #000;
    &:hover {
      box-shadow: $box_shadow_main;
    }
    &.active {
      box-shadow: $box_shadow_main;
    }
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    font-size: 12px;
    border-radius: 3px;
    background: #e09284;
  }

  .swiper-pagination-bullet-active {
    background: #e09284;
  }
}

.page {
  padding: 5px;
}

.content {
  padding: 5px;
  img {
    max-width: 100%;
  }
  iframe {
    min-width: 600px;
    min-height: 400px;
    max-width: 100%;
    max-height: 100%;
  }
  ul {
    list-style: disc outside;
  }
  ol {
    list-style: decimal;
  }
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.nowrap {
  white-space: nowrap;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}



@media (max-width: 580px){
  body {
    font-size: 12px;
  }
  .form {
    &_section {
      width: 95%;
    }
  }
}