// @import './colors.scss';
// @import './material_icons.scss';

* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.center {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_wrapper {
    margin: 50px auto;
    width: 70%;
    border: 1px solid black;
    padding: 10px;
  }

  &_label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    transition: all 200ms ease;
    z-index: 100;
  }

  &_input {
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    outline: hidden;
  }  

  &_input:focus ~ .form_label ,
  &_input:valid ~ .form_label {
    bottom: 40px;
    font-size: 10px;
    transition: all 200ms ease;
  }

  &_section {
    margin: 0 auto 25px auto;
    width: 80%;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: all 200ms ease;

    & p {
      font-weight: 300;
      font-size: 14px;
    }

    &.btn {
      display: flex;
      justify-content: space-around;
      & a {
        font-size: 12px;
      }
    }
  }

  &_helper {
    position: absolute;
    bottom: -15px;
    left: 0;
  }

}
