$bg_color_main: rgb(201, 201, 201);
$bg_color_secondary: rgb(201, 201, 201);

$color_main: rgb(197, 109, 94);
$color_secondary: rgb(197, 109, 94);

$hover_color_main: rgb(197, 109, 94);
$hover_color_secondary: grey;
