$bg_color_main: #B1A296;
$bg_color_secondary: #c25c59;
$bg_color_third: #2EE59D;

$bg_color_main_05: rgba(236, 134, 108, 0.5);


$color_main: #ffc2bb;
$color_secondary: rgb(236, 133, 108);
$color_third: #2EE59D;

$hover_color_main: #5D5C61;
$hover_color_secondary: rgba(202, 202, 202, 0.719);
$hover_color_third: rgb(236, 133, 108);

$box_shadow_main: 1px 2px 8px 2px grey;
$box_shadow_secondary: 1px 5px 8px 2px grey;


// admin panel
$bg_color_admin: #4b93c4;
$hover_color_admin: #73a4c5;

