@import '@/assets/scss/variables';

.category {
  max-width: 95%;
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  font-size: 20px;
  transition: all .5s ease;
  background-image: linear-gradient(rgba(255, 255, 255, 0.45) 0%, rgba(255, 247, 247, 0.15) 50%, rgba(255, 255, 255, 0.45) 100%), url('https://static-sl.insales.ru/images/products/1/1891/300566371/large_13258025-1-black.jpeg');
  overflow: hidden;

  &:hover {
    transition: all .5s ease;
    box-shadow: $box_shadow_main;
  }
  h2 {
    margin: 10px 0;
    max-height: 28%;
    overflow: hidden;

  }
  p {
    max-height: 35%;
    overflow: hidden;
  }

  button {
    border: none;
    background-color: transparent;
    margin-top: 10px;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all .5s ease;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid #000;
  }
}
