.nav-bar {
  background-color: $main_bg_color;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.nav-link {
  display: inline-block;
  margin-right: 10px;
  transition: color ease-in .3s;

  &:hover {
    cursor: pointer;
    color: $hover_color;
    transition: color ease-in .3s;
  }
  &.active {
    border-bottom: 1px solid #000;
  }
}

.logo {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &_img {
    max-width: 70px;
  }
}