@import '@/assets/scss/variables.scss';

.nav-bar {
  background-color: $bg_color_main;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
  }
}

.nav-link {
  display: inline-block;
  margin-right: 10px;
  transition: color ease-in .3s;

  &:hover {
    cursor: pointer;
    color: $hover_color_main;
    transition: color ease-in .3s;
  }
  &.active {
    border-bottom: 1px solid #000;
  }
}

.logo {
  max-width: 150px;
  max-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  &_img {
    max-width: 150px;
    max-height: 45px;  
  }
}

@media (max-width: 580px){
  .logo {
    display: none;
  }
}
