.nav-bar {
  background-color: rgba(211, 211, 211, 0.445);

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.nav-link {
  display: inline-block;
  margin-right: 10px;
  transition: color ease-in .3s;

  &:hover {
    cursor: pointer;
    color: grey;
    transition: color ease-in .3s;
  }
  &.active {
    border-bottom: 1px solid #000;
  }
}

.logo {
  width: 100px;
  height: 30px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}