.footer {
  background-color: rgba(211, 211, 211, 0.445);

  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .social-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
}
