.footer {
  margin-top: 80px;
  &_wrapper {
    background-color: rgba(121, 116, 92, 0.445);
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
  }
  
  .content {
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;

    .section{
      min-width: 150px;
      margin: 0 5px;

      &:first-child {
        max-width: 350px;
      }
      &:last-child {
        text-align: right;
      }
    }

  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    max-width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &_boot {
      max-width: 70px;
    }

  }
  .social-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
}
