* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.center {
  text-align: center;
}